{% extends "base.html"%}


{% block content %}
    <h1> This is the about page </h1>

<p>In a Django application, HTML is used as the presentation layer for web pages, 
    but it is combined with Python code to generate dynamic content. 
    Django provides a way to define URLs, handle HTTP requests,
    and interact with databases, among other things, using Python code.
    So, while HTML is primarily used for defining the structure and content of static web pages,
    Django allows you to build dynamic web applications that can respond to user input and interact with
     databases and other resources.</p>
{% endblock content%}


